@font-face {
  font-family: "doves";
  src: url("../css/fonts/doves_type_2.0-webfont.eot");
  src: url("../css/fonts/doves_type_2.0-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/doves_type_2.0-webfont.woff2") format("woff2"), url("../css/fonts/doves_type_2.0-webfont.woff") format("woff"), url("../css/fonts/doves_type_2.0-webfont.ttf") format("truetype"), url("../css/fonts/doves_type_2.0-webfont.svg#doves_typeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "doves";
}

body {
  background-color: #146eb4;
  overflow-x: hidden;
  position: absolute;
  font-family: "doves";
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.afterContainer {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.afterContainer .header {
  position: relative;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.afterContainer .header .logo {
  height: 100%;
  margin-left: 2vw;
}
.afterContainer .header .logo img {
  height: 100%;
}
.afterContainer .header .buttons {
  margin-right: 2vw;
}
.afterContainer .header .buttons button {
  font-size: 1.5em;
  width: fit-content;
  padding: 0.25em 1em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: #ff9900;
  color: whitesmoke;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5em;
}
.afterContainer .header .buttons button.butt {
  line-height: 1.5;
  border: 2px solid #91641F;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.afterContainer .header .buttons button.butt::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #91641F;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #91641F, 0 0.4em 0 0 #232f3e;
  transform: translate3d(0, 0.4em, -1em);
}
.afterContainer .header .buttons button.butt:hover {
  transform: translate(0em, 0.25em);
}
.afterContainer .header .buttons button.butt:hover::before {
  box-shadow: 0 0 0 2px #91641F, 0 0.4em 0 0 #232f3e;
  transform: translate3d(0, 0.25em, -2em);
}
.afterContainer .header .buttons button.butt:active {
  transform: translate(0em, 0.75em);
}
.afterContainer .header .buttons button.butt:active::before {
  box-shadow: 0 0 0 2px #91641F, 0 0.25em 0 0 #232f3e;
  transform: translate3d(0, 0.1em, -1em);
}

.job {
  width: 100%;
  height: 90vh;
  position: relative;
  margin-top: 3vh;
  display: flex;
}
.job_description {
  margin: 2em;
  width: fit-content;
  background: purple;
}
.job_description h1 {
  text-transform: uppercase;
}
.job_description h1, .job_description h2, .job_description h3 {
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.job_description .intro {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  width: fit-content;
}
.job_description .intro .topContainer {
  display: flex;
}
.job_description .intro .topContainer .description {
  margin-left: 3vw;
  width: 25vw;
}
.job_description .intro .topContainer .description h2 {
  width: 30vw;
}
.job_description .intro h4 {
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.job_description .intro .topMiddle {
  margin-top: 5vh;
}
.job_description .intro .topMiddle .duties {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.job_description .intro .topMiddle .duties li {
  margin-top: -0.5em;
}
.job_description .intro .topMiddle .duties span {
  font-size: 2em;
  line-height: 1em;
}
.job_description .intro .topMiddle .duties .dutiesSublist {
  list-style: none;
}
.job_description .intro .bottom p {
  line-height: 0.1em;
}
.job_description .intro .bottom .caps {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.5em;
}
.job_applyField {
  color: whitesmoke;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  width: 48vw;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.75em;
  flex-wrap: wrap;
}
.job_applyField input[type=text], .job_applyField input[type=number], .job_applyField input[type=tel] {
  height: 2em;
}
.job_applyField input {
  background-color: transparent;
}
.job_applyField input::placeholder {
  font-size: 1.5em;
}
.job_applyField .name {
  display: flex;
  flex-direction: column;
  line-height: 0.7em;
  width: 78.9473684211%;
  position: relative;
  left: 10.5263157895%;
  border: 1px solid #232f3e;
  margin-bottom: 0.5vh;
  background-color: rgba(0, 0, 0, 0.25);
}
.job_applyField .name label {
  position: relative;
  border: 0px solid #232f3e;
  height: 1em;
  line-height: 1em;
  vertical-align: center;
}
.job_applyField .name .wrapper {
  display: flex;
  justify-content: space-evenly;
}
.job_applyField .name .wrapper input {
  width: 50%;
  border: 1px solid #232f3e;
}
.job_applyField .email {
  display: flex;
  flex-direction: column;
  line-height: 0.7em;
  width: 78.9473684211%;
  position: relative;
  left: 10.5263157895%;
  border: 1px solid #232f3e;
  margin-bottom: 0.5vh;
  background-color: rgba(0, 0, 0, 0.25);
}
.job_applyField .email label {
  position: relative;
  border: 0px solid #232f3e;
  height: 1em;
  line-height: 1em;
  vertical-align: center;
}
.job_applyField .phone {
  border: 1px solid #232f3e;
  display: flex;
  line-height: 0.7em;
  width: 78.9473684211%;
  left: 10.5263157895%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  height: 1em;
  margin-bottom: 0.5vh;
}
.job_applyField .phone label {
  line-height: 1em;
}
.job_applyField .phone input {
  width: 50%;
  position: relative;
  left: 15%;
  background-color: transparent;
}
.job_applyField .address {
  border: 1px solid #232f3e;
  display: flex;
  flex-direction: column;
  width: 78.9473684211%;
  left: 10.5263157895%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  height: 1em;
}
.job_applyField .address .wrapper {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.job_applyField .address .wrapperII {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.job_applyField .address .wrapperII input {
  width: 40%;
}

/*# sourceMappingURL=apply.css.map */
